#inset  {
    background-color: #fff; /* or transparent; will show through only if renderer alpha: true */
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}
